.order * {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;

	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;

	border: 2px solid;
	border-radius: 10px;

	text-align: left;
	word-wrap: normal;
	word-break: normal;
}

.order .order_text {
	border: 0px;
	/* margin-left: 0px;
	margin-right: 0px; */
	padding: 0px;
}

.order .operator {
	font-size: 30px;
}

.order_panel > .order div {
	display: inline-block;
}

/* .order .variable_order {
	background-color: #fafafa;
} */

.order .variable_attribute {
	background-color: mistyrose;
	color: brown;
}

.order .variable_value {
	background-color: honeydew;
	color: darkgreen;
}

.order .variable_selection {
	background-color: cornsilk;
	color: peru;
}

.order .variable_color {
	background-color: aliceblue;
	color: royalblue;
}

.order .unset {
	border: 2px dashed;
}